.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}
.logout-button{
  border: none;
  padding: 10px;
  background-color: orangered;
}
.logout-button:hover {
  color: white;
  background: rgb(0,6,59);
}

.header-ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.header-h2 {
  font-family: monospace;
  font-size: 30px;
}
